# Ignore Python virtual environments
cvExtractor/venv/
cvExtractor/credentials.json


# Ignore Node.js modules
JobLens-BE/node_modules/
JobLens-BE/firebaseService



# Ignore log files and other system-specific files
*.log
.DS_Store
